.landing-div {
    background-color: aqua;
}

.btn-enter {
    position: absolute;
    background-color: yellow;
    border-radius: 5px;
    font-size: 30px;
    left: 50%;
    top: 70%;
}

.img-land {
    display: block;
}

.img-land img{
    width: 100%;
    height: 100%;
}