.landing-div {
    position:relative;
    display:inline-block;
    text-align:center;

}

.landing-div img {
    background-size: contain;
    max-height: auto;
    max-width: 100%;
}

.btn-enter {
    position: absolute;
    background-color: yellow;
    border-radius: 5px;
    font-size: 30px;
    left: 50%;
    top: 50%;
}