.main-add {
    display: flex;
    justify-content: center;

}


.container-add {

    margin: 40px;
    padding: 20px;
    padding-bottom: 20px;
    border: 5px solid black;
    width: 800px;
    background-color: coral;
    height: 590px;
    border-radius: 15px;
}

.container-add h2 {
    text-align: center;
}

.div-cont {
    display: flex;
    justify-content: center;
}

.genres-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.plat-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.container-add label {
    font-size: large;
    margin: 3px;
}

.name{
    height: 25px;
    width: 400px;
}

.dt {
    height: 25px;
    width: 200px;
}

.div-but-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.div-but-form button {
    width: 100px;
    height: 40px;
    background-color: blanchedalmond;
    font-size: 15px;
    border-radius: 15px;
}

.container-add input {
    background-color: blanchedalmond;
}

.container-add textarea {
    background-color: blanchedalmond;
}