.main-add {
    display: flex;
    justify-content: center;
    background: #fff url('../../img/mario.gif') center center/cover no-repeat;

}

.container-add {

    text-align: center;
    margin: 40px;
    padding: 20px;
    padding-bottom: 20px;
    /* border: 5px solid black; */
    width: 800px;
    /* background-color: coral; */
    height: 590px;
    /* border-radius: 15px; */
    /* box-shadow: 5px 5px 10px 1px #3b1887; */
}

.container-add h2 {
    
    text-align: center;
    font-family: 'Press Start 2P';
    color: white
}

.div-cont {
    display: flex;
    justify-content: center;
}

.genres-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.plat-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.container-add label {
    font-size: large;
    margin: 3px;
}

.name{
    height: 25px;
    width: 400px;
}

.dt {
    height: 25px;
    width: 200px;
}

.div-but-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.div-but-form button {
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
}

.div-but-form button:hover {
    background-color: black;
    color: #fff;
}

.container-add input {
    background-color: blanchedalmond;
}

.container-add textarea {
    background-color: blanchedalmond;
}