.container-detail {
    justify-content: center;
    background-image: url("../../img/details.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

.details-div {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    z-index: 1;
}

.details-div p {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.div-img {
    display: flex;
    justify-content: center;
}

.details-div img{
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    width: 800px;
    height: 500px;
}

.title {
    display: flex;
    justify-content: center;
    font-size:xx-large;
    color: white;
}

.div-descr {
    margin: 20px;
}

.div-descr p {
    display: flex;
    justify-content: center;
}

.descripcion {
    text-align: justify;
}

.div-descr button {
    margin: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Press Start 2P';
    position: relative;
    left: 47%;
}

.div-descr button:hover {
    background-color: black;
    color: aliceblue;
}